<div class="feature one-third column">
    <div class="feature-circle gray"><img src="/app/images/features_ico_02.png" alt="search for a job"/></div>
    <div class="feature-description">

        <h2 style="font-size:18px"> Searching For A Job
            <hr>
        </h2>
        <p class="info-box">
            BZCareer is a job search engine that provides the most recent available jobs and careers on the market.
            Our search engine is designed to provide a service to enable people to find job openings in real time
            with our state of the art search engine. Our searches are fresh and updated frequently. With BZCareer,
            what you see in our results is exactly what is available in the job market.

        </p>
    </div>
</div>