<div class="feature one-third column">
    <div class="feature-circle blue"><img src="images/features_ico_04.png" alt="popular job searchs"/></div>
    <div class="feature-description" style="line-height: 26px;">
        <h2 style="font-size:18px;"> Popular Job Searches
            <hr>
        </h2>
        <ul class="inline info-box">
            <li>
                <a href="http://www.bzcareer.com/search?keyword=Software%20Engineer&local=">
                    Software Engineer</a>,
            </li>
            <li>
                <a href="http://www.bzcareer.com/search?keyword=Web%20Developer&local=">
                    Web Developer</a>,
            </li>
            <li>
                <a href="http://www.bzcareer.com/search?keyword=IT&local=">
                    IT</a>,
            </li>
            <li>
                <a href="http://www.bzcareer.com/search?keyword=Management&local=">
                    Management</a>,
            </li>
            <li>
                <a href="http://www.bzcareer.com/search?keyword=Intern&local=">
                    Intern</a>,
            </li>
            <li>
                <a href="http://www.bzcareer.com/search?keyword=Healthcare&local=">
                    Healthcare</a>,
            </li>
            <li>
                <a href="http://www.bzcareer.com/search?keyword=Supply%20Chain&local=">
                    Supply Chain</a>,
            </li>
            <li>
                <a href="http://www.bzcareer.com/search?keyword=Retail&local=">
                    Retail</a>,
            </li>
            <li>
                <a href="http://www.bzcareer.com/search?keyword=Call%20Center&local=">
                    Call Center</a>,
            </li>
            <li>
                <a href="http://www.bzcareer.com/search?keyword=Customer%20Service&local=">
                    Customer Service</a>,
            </li>
            <li>
                <a href="http://www.bzcareer.com/search?keyword=Human%20Resources&local=">
                    Human Resources</a>,
            </li>
            <li>
                <a href="http://www.bzcareer.com/search?keyword=Accountant&local=">
                    Accountant</a>,
            </li>
            <li>
                <a href="http://www.bzcareer.com/search?keyword=Business%20Analyst&local=">
                    Business Analyst</a>,
            </li>
            <li>
                <a href="http://www.bzcareer.com/search?keyword=Civil%20Engineer&local=">
                    Civil Engineer</a>,
            </li>
            <li>
                <a href="http://www.bzcareer.com/search?keyword=Sales%20Associate&local=">
                    Sales Associate</a>,
            </li>
            <li>
                <a href="http://www.bzcareer.com/search?keyword=Financial%20Services&local=">
                    Financial Services</a>,
            </li>
        </ul>
    </div>
</div>