<div class="row-fluid">
	<div id='footerWrapper' class="footer-flot-bottom">
		<div id="footer-bottom">
			<div class="container">
				<div class="">
					<div id="copyright" class="pull-left">
						© Copyright 2015 by <span>BZCareer</span>. All Rights Reserved. | <a href="/faq">Frequently Asked Questions</a> |<a href="/privacy">Privacy</a>
					</div>
					<div id="social-media" style="padding-top:20px">
						<ul style="margin-top: 0px;" class="social-links">
							<li class="twitter"><a target="_blank" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fplatform.twitter.com%2Fwidgets%2Ffollow_button.1368146021.html&region=follow_link&screen_name=bzcareer&tw_p=followbutton&variant=2.0">Twitter</a></li>
							<li class="facebook"><a target="_blank" href="https://www.facebook.com/BzCareer">Facebook</a></li>
							<li class="digg"><a target="_blank" href="http://digg.com/submit?phase=2&url=http%3A%2F%2Fwww.bzcareer.com&title=BZCareer Search Engine"></a></li>
						</ul>
						<script defer="defer" type="text/javascript">

							document.getElementsByTagName("head")[0].appendChild(DeferScript("//apis.google.com/js/plusone.js"));
							document.getElementsByTagName("head")[0].appendChild(DeferScript("//platform.linkedin.com/in.js"));
							function DeferScript(url){
								var mycode=document.createElement("script");
								mycode.type="text/javascript";
								mycode.src=url;
								return mycode;
							}
						</script>
						<table class="inline" id="social-list">
						<tr>
							<td>
								<script type="IN/FollowCompany" data-id="2920517" data-counter="right"></script>
							</td>
							<td>
								<a href="https://plus.google.com/share?url=http://www.bzcareer.com" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" data-original-title=""><img alt="google+ share button" src="images/social_icons/googleplus.png"></a>
							</td>
							<td>
								<a href="http://www.facebook.com/share.php?u=http://www.bzcareer.com/" target="_blank"><img alt="facebook share domain" src="images/social_icons/facebook.png">
								</a>
							</td>
							<td>
								<a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fwww.bzcareer.com&amp;title=BZCareer Job Search Engine &amp;summary=Career search | BZCareer.com&amp;source=http%3A%2F%2Fwww.bzcareer.com"><img alt="linked in share domain" src="images/social_icons/linkedin.png"></a>
							</td>
						</tr>
						</table>
					</div>

				</div>
			</div>
			<div class="eight columns">
			</div>
		</div>
	</div>

</div>

</div>