<div class="main-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container pull-left">
                <div id="fade-menu" class="pull-left">
                    <ul id="mobile-nav">
                        <li>
                            <a href="/web/#/"><i class="icon-search"></i> Job Search</a>
                        </li>
                        <li>
                            <a href="/web/#/about"><i class="icon-user"></i> About Us</a>
                        </li>
                        <li>
                            <a href="/web/#/contact"><i class="icon-envelope"></i> Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>