<ul class="inline">
     <li><a target="_blank"
           href="http://www.newsvine.com/_tools/seed&amp;save?u={{link}}&amp;h={{title}}"
           data-original-title=""><img alt="newsvine share button" src="images/social_icons/newsvine.png"></a></li>
    <li><a target="_blank"
           href="http://www.tumblr.com/share?v=3&amp;u={{link}}&amp;t={{title}}"
           data-original-title=""><img alt="tumblr share button" src="images/social_icons/tumblr.png"></a></li>
    <li><a target="_blank"
           href="http://digg.com/submit?phase=2&amp;url={{link}}&amp;title={{title}}"
           data-original-title=""><img alt="digg share button" src="images/social_icons/digg.png"></a></li>
    <li><a target="_blank"
           href="http://www.facebook.com/share.php?u={{link}}&amp;title={{title}}"
           data-original-title=""><img alt="facebook share button" src="images/social_icons/facebook.png"></a></li>
    <li><a target="_blank" href="https://twitter.com/share" class="twitter-share-button"
           data-url="{{link}}"
           data-original-title=""><img alt="twitter share button" src="images/social_icons/twitter.png"></a></li>
    <li>
        <a href="https://plus.google.com/share?url={{link}}"
           onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
           data-original-title=""><img alt="google+ share button" src="images/social_icons/googleplus.png"></a></li>
    <li><a target="_blank"
           href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{link}}&amp;title={{title}}&amp;summary={{summary}}&amp;source=http%3A%2F%2Fwww.bzcareer.com"
           data-original-title=""><img src="images/social_icons/linkedin.png"></a></li>
</ul>
