<div class="container" style="margin-bottom:100px;">

    <!-- Contact Form -->
    <div class="eleven columns row-fluid">
        <h2 class="headline row">
            Contact Us
        </h2>
        <h4 style="font-family: 'Vollkorn', serif;"> We strive to make the job search experience better for the one
            searching and the one hiring. We feel that with your feedback we can improve this experience for both
            the job seeker and the employer. To get in contact with us you can leave us a brief message with your
            contact information so we can assist you.</h4>

        <div class="success-message row">
            <div class="notification success close able" style="opacity: 1 !important">
                <p>
                    <span>Success!</span> Your message has been sent.
                </p>
            </div>
        </div>
        <div id="contact-form" class="row-fluid" style="padding: 50px 15px">
            <form method="get" action="contactme">
                <div class="field row">
                    <label>Name:</label> <input type="text" name="name" class="text">
                </div>
                <div class="field row">
                    <label>Email: <span>*</span></label>
                    <input type="text" name="email" class="text">
                </div>
                <div class="field row">
                    <label>Message: <span>*</span></label>
                    <textarea name="message" class="text textarea"></textarea>
                </div>
                <div class="field row">
                    <input type="button" id="send" class="button medium blue" value="Send Message">
                    <div class="loading"></div>
                </div>
            </form>
        </div>
    </div>

</div>

