<div class="feature one-third column">
    <div class="feature-circle gray"><img src="/app/images/features_ico_05.png" alt="Announcements"/></div>
    <div class="feature-description">
        <h2 style="font-size:18px;"> Announcements
            <hr>
        </h2>
        <p class="info-box" style="font-size:13px;">
            <span style="font-weight: 900;">What is BZCareer Search?</span> <br/><br/>We
            provide an advanced search engine to help you find the ideal career. When searching for the ideal career, it
            may be time consuming but with our search engine you can find the ideal career in seconds. Our searches
            are fresh and updated frequently. With BZCareer, what you see in our results is exactly what is
            available in the job market.
        </p>
    </div>
</div>