<meta http-equiv="Content-Language" content="en">
<meta charset="utf-8">
<meta content="<%- _metadescription %>" name="description">
<title id="title">BZCareer.com</title>
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta property="og:title" content="BZCareer.com"/>
<meta property="og:description" content="METADATA"/>
<meta property="og:image" content="/app/images/RealLogo/jpeg/LogoColorNoText.jpeg"/>
<link rel="icon" type="image/ico" href="/app/images/RealLogo/jpeg/LogoColorNoText.jpeg">
<!-- common stylesheets-->
<!-- bootstrap framework css -->
<link rel="stylesheet" href="/js/bootstrap/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/js/bootstrap/css/bootstrap-responsive.min.css" type="text/css">
<!-- iconSweet2 icon pack (16x16) -->
<link rel="stylesheet" href="/img/icsw2_16/icsw2_16.css" type="text/css">
<!-- splashy icon pack -->
<link rel="stylesheet" href="/img/splashy/splashy.css" type="text/css">
<!-- flag icons -->
<link rel="stylesheet" href="/img/flags/flags.css" type="text/css">
<link rel="stylesheet" href="/js/lib/powertip/jquery.powertip.css" type="text/css">
<!-- google web fonts -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Abel" type="text/css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300" type="text/css">
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" rel="stylesheet"
      type="text/css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="/css/beoro.css" type="text/css">
<link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'/>
<style type="text/css">
    body {
        font-family: 'Lato', sans-serif;
    }
</style>
<!-- CLIENT JAVASCRIPT TO EASILY PULL DATA-->
<!--[if lte IE 8]>
<link rel="stylesheet" href="/css/ie8.css">
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" href="/css/ie9.css"><![endif]-->
<!--[if lt IE 9]>
<script src="/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<link href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script src="/js/ie/html5shiv.min.js"></script>
<script src="/js/ie/respond.min.js"></script>
<script src="/js/lib/flot-charts/excanvas.min.js"></script> <![endif]-->
<!-- END OF NEW THEME-->
<!-- CSS
 ================================================== -->
<style type="text/css">
    a {
        cursor: pointer;
    }
</style>
<!-- Java Script
 ================================================== -->

<!-- ANALYTICS START-->
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37289801-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
<!-- ANALYTICS END-->