<!-- Post -->
<div class="content">
    <div class="alpha fourteen columns">
        <div class="post-title">
            <h2>
                <a target="_blank" href='/SeeJob?job={{jobDetailLink}}'>
                    <!-- Make sure that you remove the * from jTitle.removeAll("*"); -->
                    {{jTitle.removeAll("*") }}
                </a>
            </h2>
        </div>
    </div>
    <div class="alpha omega three columns">
        <div class="post-date">
            <h5>{{ companyName }}</h5>
            <br/>

            {{jDate}}
        </div>
    </div>
    <div class="alpha eight columns post-content">
        <div class=''>
            <div class="post-desc">
                <blockquote>
                    <p>

                        Location: {{jLocation}}
                    </p>

                    <cite title='Source Title'>
                        <div id='{{placeholder }}'>
                            {{JobSummary}}
                        </div>

                    </cite>
                </blockquote>
                <!-- Make sure the encode the jobDetailsLink encodeURIComponent(jobDetailLink)  -->
                <a class="post-entry" href='/SeeJob?job={{jobDetailLink}}' target="_blank">
                    Click here for more details</a>
            </div>
        </div>
        <div class="post-meta">
            <!-- Social media is a directive used for generating the social media buttons under the job post -->
            <socialmedia ></socialmedia>
        </div>
    </div>
</div>
<div class="clearfix">
</div>
<hr>

