

<div id="searchField" class="sixteen columns" style="margin: 0 auto;">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

    <div class="" style="background: white;padding: 20px;">
        <ul class="inline">
            <li>
                <img src="/app/images/RealLogo/jpeg/LogoColorTextBelow.jpeg"
                     alt="Canada job search. Jobs search. Canadian Jobs. Job search engine."
                        /></li>
            <li><h2>{{country }} </h2></li>
        </ul>
        <h6>One Stop Job Search</h6>

        <br/>
        <br/>

        <div id="searchBox">
            <div class="row">
                <div class="span4">
                    <div id="lblrole">
                        <h3 style="color:#23406f"> What? </h3>
                        <input name="keyword" ng-model="role" onchange="myKeyword()" oninput="myKeyword()" id="role"
                               style="margin:10;padding:10;width:300;" type="text" class="text span4"/>

                        <span class="help-block">(job title or job keyword)</span>
                    </div>
                </div>
                <div class="span4 ui-widget">


                    <div id="lblLocation">
                        <div class="dropdown">
                            <table>
                                <tr>
                                    <td><h3 style="color:#23406f"> Where in&nbsp;</h3></td>
                                    <td><h3 style="color:#23406f" id="country">{{ country }}?&nbsp;</h3></td>
                                </tr>
                            </table>
                        </div>

                        <input name="local" style="width:80%" id="location" type="text"
                               onfocus="myAutoComplete('CA')" ng-model="local" value=""
                               oninput="myAutoComplete('US')" class="text">
                        <span class="help-block"> (city, province or town)</span>
                    </div>

                    <div id="selction-ajax"></div>

                </div>
                <div class="span1">

                    <div class="submit_sect">
                        <input style="width:120px;margin:30px 0px" id="searchbtn" class="btn btn-beoro-3 btn-large"
                               ng-click="fetchSearch(role,local)"
                               value="Find Jobs"/>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>