<div id="page-title" class="row-fluid" style="height:130px;background:#ffffff">
    <div class="pull-left" style="margin: 20px;">
        <ul class="inline">
            <li>

                <a href="http://www.bzcareer.com" title="BZCareer Home"><img
                        src="/app/images/RealLogo/jpeg/LogoColorTextRight-Short.jpeg" alt="logo"></a>
            </li>
            <li>
                <!-- 960 Container Start -->
                <div class="container">
                    <div class="sixteen columns">
                        <div id="ad">

                            <!-- START OF ADS-->
                            <script type="text/javascript"><!--
                            google_ad_client = "ca-pub-8134900906740446";
                            /* JobSearch */
                            google_ad_slot = "5056294619";
                            google_ad_width = 728;
                            google_ad_height = 90;
                            //-->
                            </script>
                            <script type="text/javascript"
                                    src="//pagead2.googlesyndication.com/pagead/show_ads.js">
                            </script>

                            <!-- END OF LINE -->
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>